<div class="container">
  <mat-card>
    <div>
      <div *ngIf="pruefungen.length <= 0">
        Keine Prüfungen vorhanden.
        </div>
        <div *ngIf="pruefungen.length > 0">
        <button *ngIf="!testCompleted && !showInbox && !testRecord" mat-raised-button color="primary" (click)="startRecording()"> Testaufnahme starten </button>
        <button *ngIf="!testCompleted && !showInbox && testRecord" mat-raised-button color="primary" (click)="stopRecording()"> Testaufnahme beenden</button>
        <mat-form-field *ngIf="!testCompleted && !showInbox" >
            <mat-select [(ngModel)]="selectedPruefung" placeholder="Prüfung wählen">
              <mat-option *ngFor="let pruefung of pruefungen" [value]="pruefung">
                {{pruefung.test?.titel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button style="margin-right:15px" *ngIf="!testCompleted" [disabled]="showInbox" (click)="startTimer()" mat-raised-button
        color="primary">Test starten</button>
      <countdown [config]='{leftTime: 1200, notify: [30, 60, 120, 300, 600, 900, 1199], demand: true}' (finished)="onFinished()"
        (start)="onTimerStarted()" (notify)="notified($event)">
        $!m!:$!s!
      </countdown>
      <button style="margin-left:15px" *ngIf="!testCompleted && showInbox" (click)="stopTest()" mat-raised-button color="warn">Test abschließen</button>
    </div>

      <div *ngIf="!testCompleted && !showInbox && testRecord">
        <div style="margin-top: 20px;">
          <video #video class="video"></video>
        </div>
        <div style="margin-top: 20px;">

         <!-- <button mat-raised-button color="primary" (click)="download()"> Download</button>  -->
        </div>
      </div>


    </div>

    <div style="margin-top:20px; font-size: 2em;" *ngIf="testCompleted">Der Test ist abgeschlossen.
      <br>
      <br> Ihre Ergebnisse werden zeitnah ausgewertert.
      <br>
      <br> Viele Dank für Ihre Teilnahme!
      <br>
      <br>

    </div>
    <app-inbox *ngIf="!testCompleted && showInbox" [pruefung]="selectedPruefung" [anrufAnzeigen]="anrufAnzeigen"></app-inbox>


    <mat-card-content>
      <mat-card-title translate></mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>




  <mat-card style="margin-top:10px;" *ngIf="!testCompleted && selectedPruefung && !showInbox">

      <div style="margin-top:20px; font-size: 1.5em;" *ngIf="!testCompleted && selectedPruefung">Kontext des Tests: <br>
        <pre>{{selectedPruefung?.test?.kontext}} </pre>
        
      </div>
  
  
      <mat-card-content>
        <mat-card-title translate></mat-card-title>
        <mat-card-subtitle>
        
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
</div>