<div class="container">
  <mat-card>
<div>
    <button style="margin-right:15px" [disabled]="showInbox" (click)="startTimer()" mat-raised-button color="primary">Test starten</button>

    <countdown [config]="{leftTime: 1200, notify: [30, 60, 120, 300, 600, 900, 1199], demand: true}"
               (finished)="onFinished()"
               (start)="onTimerStarted()"
               (notify)="notified($event)">
               $!m!:$!s!
    </countdown>
    <button style="margin-left:15px"  *ngIf="showInbox" (click)="stopTest()" mat-raised-button color="warn">Test abschließen</button>

</div>

  <div style="margin-top:20px; font-size: 2em;" *ngIf="testCompleted">Der Test ist abgeschlossen. <br><br>
                            Ihre Ergebnisse werden zeitnah ausgewertert. <br><br>
                            Viele Dank für Ihre Teilnahme! <br><br>

  </div>
  <app-inbox *ngIf="showInbox"></app-inbox>


    <mat-card-content>
      <mat-card-title translate></mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
