.metaDiv{
width: 50vw;
padding: 10px;
margin-top: 15px;
background: #eeeeee;
border: 3px solid #857970;
border-radius: 10px;
margin-left: 1vw;
}
.detailWrapperNewTest{
    //margin-left: calc(30% - 3px)
    width: 45vw;
    margin-left: 2vw;
    margin-top: 15px;
    padding: 10px;
    height: 90vh;
    overflow: hidden;
    float: left;
  
}

.mailElementNewTest{
    margin-top:5px;
    width: calc(100% - 3px);
}