<div id="bewerber" class="container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <mat-card style="height:90vh; width:30%; float:left">
    <h3>
      <mat-card-title>
          
        <span style="color:darkgray; float: left;" *ngIf="showBewerberDetails" (click)="showBewerberDetails = !showBewerberDetails; getBewerber()"> <i class="fa fa-line-chart"></i> </span>
        <span style="float: left;" *ngIf="!showBewerberDetails" (click)="showBewerberDetails = !showBewerberDetails"> <i class="fa fa-line-chart"></i>
        </span>


        <button style=" width: 60%" (click)="toogleBewerber()" mat-raised-button color="primary">
          <span *ngIf="showAllBewerber">Bewerber mit bearbeiteter Prüfung</span>
          <span *ngIf="!showAllBewerber">Alle Bewerber</span>
        </button>

        <i (click)="addBewerber()" matTooltip="Neuen Bewerber anlegen"
        [matTooltipPosition]="'above'"style="font-size: 1.8em; float: right;" class="material-icons">
          person_add
        </i>


        <div *ngFor="let selectedBewerber of displayedBewerber" (click)="showBewerber(selectedBewerber)" style="text-align: left; margin-top: 20px;">
          <span style="float:left;" *ngIf="selectedBewerber.status == 'angenommen'" class="dot"></span>
          <span style="float:left;" *ngIf="selectedBewerber.status == 'offen'" class="dot_yellow"></span>
          <span style="float:left;" *ngIf="selectedBewerber.status == 'abgelehnt'" class="dot_red"></span>
          <span style="margin-left:10px; overflow-x: hidden; white-space:nowrap; float:left; width: 50%">{{selectedBewerber.name}}</span>
          <span style="overflow-x: hidden; white-space:nowrap; float:right; width:40%">{{selectedBewerber.beworbenFuer}}</span>
          <br>
       </div>
        

      </mat-card-title>
    </h3>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!showBewerberDetails" style="margin-left:1%; width:69%;  height:90vh;  float:right">
    
      <mat-card-title style="text-align: left; font-size:1.4em">
        </mat-card-title>
        <div style="float:left; width: 45%;">
            <h2>Bewerber:</h2>
            <canvas baseChart
                    [data]="data"
                    [labels]="labels"
                    [colors]="chartColor"
                    [chartType]="chartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
          <div style="float:left;  width: 45%;">
              <h2>Prüfungen:</h2>
              <canvas baseChart
                      [data]="pruefungenData"
                      [labels]="pruefungenLabels"
                      [colors]="pruefungenChartColor"
                      [chartType]="pruefungenChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>
  </mat-card>


  <mat-card *ngIf="showBewerberDetails" style="margin-left:1%; width:69%;  height:90vh;  float:right">
    <mat-card-title style="text-align: left; font-size:1.4em">

      <span style="display: inline-block; width: 20%">   Name:</span>
    <!--  <span *ngIf="!editName" style="display: inline-block; width: 25%">{{currentBewerber?.name}}</span> -->
      <mat-form-field  style="display: inline-block; width: 25%">
          <input matInput [readonly]="!editName"  [(ngModel)]="currentBewerber.name">
        </mat-form-field>
        <i style="font-size: 0.7em;" *ngIf="!editName" (click)="editName=true" class="material-icons">edit</i>
        <i style="font-size: 0.7em;" *ngIf="editName" (click)="editName=false; update();" class="material-icons">save</i>

      <span style="display: inline-block; width: 20%">Benutzername:</span>
      <mat-form-field  style="display: inline-block; width: 25%">
          <input matInput [readonly]="!editBenutzername"  [(ngModel)]="currentBewerber.benutzername">
        </mat-form-field>
      <i style="font-size: 0.7em;" *ngIf="!editBenutzername" (click)="editBenutzername=true" class="material-icons">edit</i>
      <i style="font-size: 0.7em;" *ngIf="editBenutzername" (click)="editBenutzername=false; update();" class="material-icons">save</i>

      <br>

      <span style="display: inline-block; width: 20%">Angestrebte Position:</span>
      <mat-form-field  style="display: inline-block; width: 25%">
          <input matInput [readonly]="!editPosition"  [(ngModel)]="currentBewerber.beworbenFuer">
        </mat-form-field>
      <i style="font-size: 0.7em;" *ngIf="!editPosition" (click)="editPosition=true" class="material-icons">edit</i>
      <i style="font-size: 0.7em;" *ngIf="editPosition" (click)="editPosition=false; update();" class="material-icons">save</i>

      <span style="display: inline-block; width: 20%">Email:</span>
      <mat-form-field  style="display: inline-block; width:25%">
          <input matInput [readonly]="!editMailAdresse"  [(ngModel)]="currentBewerber.mailAdresse">
      </mat-form-field>
      <i style="font-size: 0.7em;" *ngIf="!editMailAdresse" (click)="editMailAdresse=true" class="material-icons">edit</i>
      <i style="font-size: 0.7em;" *ngIf="editMailAdresse" (click)="editMailAdresse=false; update();" class="material-icons">save</i>

      <br>

      <span style="display: inline-block; width: 20%">Bewerbungsstatus:</span>
      <span style="display: inline-block; width: 25%">{{status(currentBewerber)}}</span>

      <button style="width: 20%" (click)="generatePassword()" mat-raised-button color="primary">Neues Passwort generieren</button>
      
      <br>

      <button *ngIf="currentBewerber?.status == 'offen'" style="float:left; width:22%; margin-top:20px; background: darkgreen" (click)="annehmen()"  mat-raised-button color="primary">Annehmen</button>
      <button *ngIf="currentBewerber?.status == 'offen'" style="clear: both; width:22%; margin-top:20px;" (click)="ablehnen()"  mat-raised-button color="warn">Ablehnen</button>
      <br>

    </mat-card-title>



    <mat-card-content style="text-align: left; font-size: 1.2em">

      <br>
      <b>2</b> abgeschlossene Tests des Bewerbes müssen bewertet werden.

      <br> Der Beweber hat keine offenen Tests
      <br>



      <div style="margin-top: 25px;">

        <div style="margin-bottom: 20px;">
          <span matTooltip="Neuen Test für den Bewerber freischalten"
               [matTooltipPosition]="'after'" (click)="addTestToBewerber()">
            <i style="font-size: 1.8em;" class="material-icons">
                note_add
            </i>

          </span>
        </div>

        <mat-card *ngFor="let pruefung of currentBewerber?.pruefungen" (click)="evaluateTest(pruefung)" style="width:47%; margin-right: 3%; float: left;">
          <mat-card-title>
            Test "{{pruefung?.test?.titel}}"
            <span *ngIf="pruefung?.status == 'offen'" style="float: right;" class="dot_blue"></span>
            <span *ngIf="pruefung?.status == 'bearbeitet'" style="float: right;" class="dot_yellow"></span>
            <span *ngIf="pruefung?.status == 'abgeschlossen'" style="float: right;" class="dot_green"></span>




          </mat-card-title>
          <mat-card-content style="text-align: left; font-size: 0.9em">
            <div *ngIf="pruefung?.status != 'offen'">
            Benöigte Zeit: 20:00 von 20:00 <br>
            Emails beantwortet: {{getAnzahlBeantwortet(pruefung.ergebnis)}} <br>
            Emails weitergeleitet {{getAnzahlWeitergeleitet(pruefung.ergebnis)}} <br>
            Emails gelöscht: {{getAnzahlGeloescht(pruefung.ergebnis)}} 
     
            </div>
            <div *ngIf="pruefung?.status == 'offen'">
                Der Bewerber hat den Test noch nicht bearbeitet.
                <br>
                <br>
                <br>
                Eine Bewertung ist daher noch nicht möglich.
                </div>
          </mat-card-content>
        </mat-card>

        
      </div>

    </mat-card-content>
  </mat-card>
</div>