<div style="text-align: left" class="inboxWrapper">

  <div style="float:left;" class="selectBoxWrapper">

    <mat-card style="height:68vh">
      <mat-card-title>
        <button style="width:90%; margin-left: 5%;" (click)="openCalendar()" mat-raised-button color="primary">
          Kalender öffnen</button>
        <br>
        <span (click)="showEingang()" style="margin-top: 25px; display: inline-block;"> Posteingang</span>
        <br> <span (click)="showAusgang()">Postausgang</span>
        <br> <span (click)="showWeiterleiten()">Weitergeleitet</span>
        <br> <span (click)="showGeloescht()">Gelöscht</span>  
        <br>

        <div *ngIf="anrufAnzeigen" style="margin-top: 25vh; padding: 10px 15px 10px 15px; background-image:linear-gradient(to bottom,  blue 0%,black 70%);">
          <span style="color:white;">{{anrufer}}</span>  <br>
          <i (click)="acceptCall()" style="color:green; font-size: 2.5em;" class="material-icons">
            call
          </i>

          <i (click)="declineCall()" style="float:right; color:red; font-size: 2.5em;" class="material-icons">
            call_end
          </i>

        </div>
      </mat-card-title>

    </mat-card>
  </div>
  <div id="bindCSSMail" style="float: left;" class="inboxElementWrapper">
    <div *ngFor="let email of displayedMails" class="mailElement" (click)="emailClicked(email)">
      <mat-card>

        <div class="">
          <div class="text-div">
            {{email.absender}}
          </div>
          <div style="text-align: right">
              <span  *ngIf="email.absendeDatum == 0">Heute</span>
              <span  *ngIf="email.absendeDatum == 1">Gestern</span>
              <span  *ngIf="email.absendeDatum > 1">Vor {{email.absendeDatum}} Tagen</span>    
             </div>    
        </div>
        <div class="">
          <div class="text-div">
            {{email.titel}}
          </div>
          <div style="font-size: 0.8em; color:grey;" class="text-div">
            {{email.text}} 
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="detailWrapper">
    <mat-card *ngIf="showMailText" style="height: 68vh;">
      <mat-card-content>
        <mat-card-title>
          <span style="display: inline-block; width: 70%; ">Von: {{selectedEmail.absender}}</span>
          <span  *ngIf="selectedEmail.absendeDatum === 0">Heute</span>
          <span  *ngIf="selectedEmail.absendeDatum === 1">Gestern</span>
          <span  *ngIf="selectedEmail.absendeDatum > 1">Vor {{selectedEmail.absendeDatum}} Tagen</span>          <br> {{selectedEmail.titel}}
        </mat-card-title>
        <mat-card-subtitle>
          <div *ngIf="eingang" style="font-size: 1.2em">
            <span (click)="antwortenClicked()">Antworten</span>
            <span style="margin-left: 20px;" (click)="weiterleitenClicked()">Weiterleiten</span>
            <span style="margin-left: 20px;" (click)="verschiebenClicked()">Verschieben</span>
            <span style="margin-left: 20px;" (click)="aufTerminClicked()">Auf Termin legen</span>
            <span style="margin-left: 20px;" (click)="loeschenClicked()">Löschen</span>
            <div *ngIf="weiterleiten" style="margin-top: 20px;">
            <mat-form-field *ngIf="weiterleiten" >
                <mat-select [(ngModel)]="selectedPerson" placeholder="Weiterleiten an">
                  <mat-option *ngFor="let person of weiterleitenPersonen" [value]="person">
                    {{person}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <button style="margin-left: 25px;" *ngIf="weiterleiten"  (click)="mailWeiterleiten()" mat-raised-button color="primary">Email Weiterleiten</button>
            </div>
          </div>


        </mat-card-subtitle>
      </mat-card-content>
      <div style="margin-bottom: 20px;">
        <div style="height:25vh; overflow-y: scroll;" class="">
          <pre>{{selectedEmail.text}}</pre>
        </div>
      </div>

      <hr style="">


      <div *ngIf="showAntwortText" style="margin-bottom: 20px;">
          <div style="height:25vh; " class="">
            <h2>{{titelAntwort}}</h2>

            <pre>{{antwort}}</pre>
          </div>
      </div>
  
      
      <div *ngIf="weitergeleitet" style="margin-bottom: 20px;">
          <div style="height:25vh;" class="">
            <h2>Weitergeleitet an: {{antwort}}</h2>
          </div>
      </div>

      <mat-tab-group *ngIf="hasAnswers && showAnswer" style="margin-top:5px;" class="demo-tab-group">

        <mat-tab *ngFor="let antwort of selectedEmail.antworten; let i = index" label="{{antwort.titel}}">
          <div style="overflow-y: scroll; height:17vh; margin-top:5px;" [innerHTML]="antwort.text" class="demo-tab-content">
          </div>
          <button (click)="sendOption(i)" mat-raised-button color="primary">Senden</button>

        </mat-tab>


      </mat-tab-group>

      <div style="height:22vh; margin-top:5px;">
        <mat-form-field *ngIf="!hasAnswers && showAnswer" style="width: 100%;">
          <textarea [(ngModel)]="antwortText"  matInput matTextareaAutosize [matAutosizeMaxRows]=10 placeholder="Bitte beantworten Sie diese Mail"></textarea>
        </mat-form-field>
      </div>

      <button *ngIf="showAnswer" (click)="sendMail()" mat-raised-button color="primary">Senden</button>


    </mat-card>



  </div>




</div>