.inboxWrapper{
    width: calc(100% - 3px);
    padding: 10px;
    margin-top: 15px;
    background: #eeeeee;
    border: 3px solid #857970;
    border-radius: 10px;
    height: 75vh;

  
}
#bindCSSMail .mat-card{
    padding: 8px 15px 8px 15px;
}
.selectBoxWrapper{
    width: 15%;
    margin-top: 15px;
    padding: 10px;
    height: 70vh;
    overflow: hidden;
    display:inline-block;
  

}

.detailWrapper{
    //margin-left: calc(30% - 3px)
    width: 55%;
    margin-top: 15px;
    padding: 10px;
    height: 70vh;
    overflow: hidden;
    display:inline-block;
  
}

.inboxElementWrapper{
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    height: 70vh;
    overflow-y: scroll;
    display:inline-block;
}

.mailElement{
    margin-top:5px;
    width: calc(100% - 3px);
}

.text-div {
    display: inline-block;
    overflow: hidden;
    height: 1.4em;
    line-height: 1.4em;
    padding-right: 15px;
  }