<div style="text-align: left" class="inboxWrapper">

  <div style="float:left;" class="selectBoxWrapper">

      <mat-card style="height:68vh">
          <mat-card-title> 
              <button style="width:90%; margin-left: 5%;" (click)="openCalendar()" mat-raised-button color="primary">Kalender öffnen</button>
              <br>
              <span style="margin-top: 25px; display: inline-block;"> Posteingang</span>
              <br>
              Postausgang
              <br>
              Weitergeleitet
              <br>
              Gelöscht
              <br>

          </mat-card-title>
     
    </mat-card>
    </div>
      <div id="bindCSSMail" style="float: left;" class="inboxElementWrapper">
                <div *ngFor="let email of emails" class="mailElement"
                (click)="emailClicked(email)">
                     <mat-card>
                         
                  <div class="">
                    <div class="text-div">
                      {{email.absender}}
                    </div>
                    <div style="text-align: right">
                      {{email.absendeDatum}}
                    </div>
                  </div>
                  <div class="">
                    <div class="text-div">
                    {{email.titel}}
                    </div>
                    <div style="font-size: 0.8em; color:grey;"class="text-div">
                            {{email.text}}
                    </div>
                  </div>
                </mat-card>
                </div>
      </div>

      <div  class="detailWrapper">
            <mat-card *ngIf="showMailText" style="height: 68vh;">
              <mat-card-content>
                <mat-card-title> 
                    <span style="display: inline-block; width: 70%; ">Von: {{selectedEmail.absender}}</span>
                      <span>{{selectedEmail.absendeDatum}}</span>  <br>
                      {{selectedEmail.titel}}            
                </mat-card-title>
                <mat-card-subtitle>
                  <div style="font-size: 1.2em">
                    <span (click)="antwortenClicked()">Antworten</span>                  
                    <span style="margin-left: 20px;" (click)="weiterleitenClicked()">Weiterleiten</span>
                    <span style="margin-left: 20px;" (click)="verschiebenClicked()">Verschieben</span>
                    <span style="margin-left: 20px;" (click)="aufTerminClicked()">Auf Termin legen</span>
                    <span style="margin-left: 20px;" (click)="loeschenClicked()">Löschen</span>
                  </div>

               
                </mat-card-subtitle>
              </mat-card-content>
              <div style="margin-bottom: 20px;">
                <div style="height:25vh; overflow-y: scroll;"class="">
                  {{selectedEmail.text}}
                </div>
              </div>

              <hr style="">

              

              <mat-tab-group *ngIf="hasAnswers && showAnswer" style="margin-top:5px;" class="demo-tab-group">

                  <mat-tab *ngFor="let antwort of selectedEmail.antworten" label="{{antwort.titel}}">
                    <div style="overflow-y: scroll; height:17vh; margin-top:5px;" [innerHTML]="antwort.text" class="demo-tab-content">
                    </div>
                    <button  (click)="startTimer()" mat-raised-button color="primary">Senden</button>
                  
                  </mat-tab>


              </mat-tab-group>

                <div style="height:22vh; margin-top:5px;">
                  <mat-form-field *ngIf="!hasAnswers && showAnswer" style="width: 100%;">
                      <textarea matInput matTextareaAutosize [matAutosizeMaxRows]=10 placeholder="Bitte beantworten Sie diese Mail"></textarea>
                  </mat-form-field>
                </div>

                <button *ngIf="showAnswer" (click)="startTimer()" mat-raised-button color="primary">Senden</button>


            </mat-card>


           
      </div>




</div>
