<div style="text-align: left; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; ">
    <div style="float: left;">
        Titel:
        <br> Tag:
        <br> Von:
        <br> Bis:
        
    </div>

    <div style="clear: right;">
        Gehaltsgespräch
        <br> 1
        <br> 15
        <br> 15:30
        
    </div>
</div>

<div>
    <div style="float: left; width: 33%; text-align: center">
        <div style="height:200px; width: 90%; background: #cccccc">
            <span style="font-size: 1.2em">
                <b>Tag 1</b>
            </span>

            <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">8-10: Test Termin</div>

        </div>
    </div>

    <div style="float: left; width: 33%; text-align: center">
        <div style="height:200px; width: 90%; background: #cccccc">
            <span style="font-size: 1.2em">
                <b>Tag 2</b>
            </span>

            <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">9-10: Test Termin 2</div>
            <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">11-13: Test Termin 3</div>
            <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">13-14: Test Termin 4</div>
            <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">14-15: Test Termin 5</div>

        </div>
    </div>

    <div style="float: left; width: 33%; text-align: center">
            <div style="height:200px; width: 90%; background: #cccccc">
                <span style="font-size: 1.2em">
                    <b>Tag 3</b>
                </span>
    
                <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">9-11: Test Termin 6</div>
                <div style="margin-top: 5px; padding-left: 10px; padding-top: 0.2em; text-align:left; height: 1.5em; background: #3968af; color: white; margin-left: 5%; width: 90%; border-radius: 5px;">15-16: Test Termin 7</div>

    
            </div>
        </div>
</div>