<div style="text-align: left">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
    
                <ng-template matStepLabel>Angaben zum Bewerber</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Name"  [(ngModel)]="name" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Angestrebte Position" [(ngModel)]="beworbenFuer" >
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Email"  [(ngModel)]="mailAdresse">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Benutzername" [(ngModel)]="benutzername">
                </mat-form-field>
                <div>
                    <button mat-button  (click)="saveBewerber()" matStepperNext>Weiter</button>
                    <button mat-button (click)="saveBewerber(); dialogRef.close();">Bewerber ohne Tests speichern</button>


                </div>
            
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
               
                <ng-template matStepLabel>Tests hinzufügen</ng-template>
                <h3>Tests auswählen</h3>

               <div *ngFor="let testChecked of testsChecked" style="width: 50%; float: left;"> <mat-checkbox [color]="'primary'" [(ngModel)]="testChecked.checked"  >{{testChecked.test?.titel}}</mat-checkbox></div>
            
        
            

                <div>
                    <button mat-button matStepperPrevious>Zurück</button>
                    <button mat-button matStepperNext>Weiter</button>
                </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Abschließen
            </ng-template>
            Wollen Sie den neuen Bewerber jetzt speichern?
            <div>
                <button mat-button (click)="saveBewerberMitPruefungen()" matStepperPrevious>Ja</button>
                <button mat-button (click)="this.dialogRef.close()">Nein</button>
                <button mat-button matStepperPrevious>Zurück</button>

            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>