<div style="text-align: left; width: 51vw; float:left;">
  <div style="float:left" class="metaDiv">
    <mat-card style="height:100%">
      <mat-card-content>
        <mat-card-title>

          <div style="width:100%; font-size: 0.8em">
            <span style="width:15%; display: inline-block;"> Titel:
            </span>
            <span style="width:30%; display: inline-block; margin-right:5%;">
              <mat-form-field style="width:100%">
                <input matInput [(ngModel)]="this.test.titel">
              </mat-form-field>
            </span>

            <span style="width:15%; display: inline-block;"> Zeit:
            </span>
            <span style="width:30%; display: inline-block;">
              <mat-form-field style="width:100%">
                <input matInput [(ngModel)]="this.test.zeit">
              </mat-form-field>
            </span>

          </div>

          <div style="width:100%; font-size: 0.8em">
            <span style="width:15%;  display: inline-block;"> Position:
            </span>
            <span style="width:30%;  display: inline-block;  margin-right:5%;">
              <mat-form-field style="width:100%">
                <input matInput [(ngModel)]="this.test.position">
              </mat-form-field>
            </span>

            <span style="width:15%;  display: inline-block;"> Beschreibung:
            </span>
            <span style="width:30%;  display: inline-block;">
              <mat-form-field style="width:100%">
                <input matInput [(ngModel)]="this.test.beschreibung">
              </mat-form-field>
            </span>

          </div>

          <div style="width:100%; font-size: 0.8em">
              <span style="float:left; width:15%; margin-top:30px; "> Kontext:
                </span>
              <mat-form-field style="width:60%;">
                  <!-- <input matInput placeholder="Benutzername" required> -->
                  <textarea matInput [(ngModel)]="this.test.kontext" matTextareaAutosize [matAutosizeMaxRows]=5 [matAutosizeMinRows]=2
                      placeholder="Text der dem Bewerber vor dem Test gezeigt wird."></textarea>
              </mat-form-field>

              <mat-form-field style="width:20%;">
                  <mat-select placeholder="Anrufe" [(value)]="this.test.anrufe" multiple>
                    <mat-option *ngFor="let anruf of anrufe" [value]="anruf">{{anruf}}</mat-option>
                  </mat-select>
                </mat-form-field>

              <button style="width:100%; margin-top:20px;" (click)="saveTest()" mat-raised-button color="primary">Test speichern</button>    <br>


          </div>





        </mat-card-title>

      </mat-card-content>
    </mat-card>
  </div>

  <div  style="float: left; margin-top: 1vh; margin-left: 1vw;" class="">
      <mat-card style="width:19vw">
          <div >
            <b>
            Vorhandene Emails
            </b>
          
        </div>
      </mat-card>
      <div *ngFor="let email of emails" class="mailElementNewTest" (click)="emailClicked(email)">
        <mat-card style="width:19vw">
            <div>
             <mat-checkbox (change)="addToSelection(checked, email)" [color]="'primary'">{{email.titel}}</mat-checkbox>
             <span style="float:right;" (click)="editEmail(email)">
                <i style="font-size:1em" class="material-icons">
                    edit
                </i>
            </span>
          </div>
        </mat-card>
      </div>
    </div>    

    <div  style="float: left; margin-top: 1vh;" class="">
        <button style="width:10vw; margin-top:70px;" (click)="addEmailstoTest()" mat-raised-button color="primary">Auswahl hinzufügen</button>    <br>
        <button style="width:10vw; margin-top:40px;"(click)="useEmailAsTemplate()" mat-raised-button color="primary">Auswahl als Vorlage</button>       <br>
        <button style="width:10vw; margin-top:40px;"(click)="createEmail()" mat-raised-button color="primary">Neue Email erstellen</button>     <br>  
   
      
      </div>



  <div style="float: left; margin-top: 1vh;" class="">
      <mat-card style="width:20vw">
          <div>
            <b>
            Emails im Test
            </b>
          
        </div>
      </mat-card>
      <div *ngFor="let email of testEmails" class="mailElementNewTest" (click)="emailClicked(email)">
        <mat-card style="width:20vw">
            <div>
                <span style="display: inline-block; width: 100%;">
                    <span (click)="editEmail(email)">
                        <i style="font-size:1em" class="material-icons">
                            edit
                        </i>
                    </span>
                    <span style="display: inline-block; width:80%; ">
               {{email.titel}} 
               </span>
             <span style="display: inline-block;">
                <i (click)="removeEmailFromSelection(email)" class="material-icons">
                    clear
                    </i>
                </span>
              </span>

              
            
          </div>
        </mat-card>
      </div>
    </div>

</div>




<div class="detailWrapperNewTest">
  <mat-card *ngIf="showMailText" style="height: 88vh;">
    <mat-card-content>
      <mat-card-title>
        <span style="display: inline-block; width: 70%; ">Von: {{selectedEmail.absender}}</span>
        <span  *ngIf="selectedEmail.absendeDatum === 0">Heute</span>
        <span  *ngIf="selectedEmail.absendeDatum === 1">Gestern</span>
        <span  *ngIf="selectedEmail.absendeDatum > 1">Vor {{selectedEmail.absendeDatum}} Tagen</span>
                <br> {{selectedEmail.titel}}
      </mat-card-title>
      <mat-card-subtitle>



      </mat-card-subtitle>
    </mat-card-content>
    <div style="margin-bottom: 20px;">
      <div style="height:40vh; overflow-y: scroll;" class="">
        {{selectedEmail.text}}
      </div>
    </div>

    <hr style="">



    <mat-tab-group *ngIf="hasAnswers" style="margin-top:5px;" class="demo-tab-group">

        <mat-tab *ngFor="let antwort of selectedEmail.antworten" label="{{antwort.titel}}">
          <div style="overflow-y: scroll; height:17vh; margin-top:5px;" [innerHTML]="antwort.text" class="demo-tab-content">
          </div>
        
        </mat-tab>


    </mat-tab-group>

      <div *ngIf="!hasAnswers"  style="font-size: 1.3em; height:22vh; margin-top:40px;">
        Es stehen keine Antwortoptionen zur Auswahl. Der Bewerber muss mit einem freien Text antworten.
      </div>


  </mat-card>



</div>