<div style="">

  <div style="width: 80%; margin:auto; margin-top: 20px;">
    <mat-accordion style="text-align: left; width: 80%; margin:auto; margin-top: 20px;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Automatisierte Bewertung
            </mat-panel-title>
            <mat-panel-description>
              Punkte auf Basis des erstellten Schemas
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          Zeit <br>
          Punkte
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Videomitschnitt
            </mat-panel-title>
            <mat-panel-description>
              Aufzeichnung des Tests als Video (Bewertung erforderlich)
            </mat-panel-description>
          </mat-expansion-panel-header>
          VIDEO EINFÜGEN
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Freitextantworten
              </mat-panel-title>
              <mat-panel-description>
                Bewerten Sie diese Antworten, um den Test abschließen zu können
              </mat-panel-description>
            </mat-expansion-panel-header>
            - Email muss angezeigt werden können
	- Anwort als Text zeigen
	- Bewertungschema muss offen sein (0/5...)
            </mat-expansion-panel>

      </mat-accordion>

      </div>



</div>